---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import NeonBox from "../components/atoms/NeonBox.astro";
import Gradients from "../components/skeleton/Gradients.astro";
import NeonButton from "../components/atoms/NeonButton.astro";
import Wrapper from "../components/skeleton/Wrapper.astro";
import ArticleCard from "../components/cards/ArticleCard.astro";
import { getLatestPost, getColorByCategory, getPostUrl } from "../lib/blog";

// Obtener el artículo más reciente del blog
const latestPost = await getLatestPost();
---

<BaseLayout title="Andrés Ignacio Maldonado | Tech Lead • AI • Música">
  <Wrapper>
    <NeonBox class="max-w-6xl mx-auto">
      <!-- Hero section -->
      <div class="p-12">
        <Hero />
      </div>

      <!-- About section -->
      <NeonBox class="" noBorderLeft={true} noBorderRight={true}>
        <div class="grid grid-cols-1 md:grid-cols-2">
          <div class="p-12">
            <div class="p-12 flex items-center justify-center h-full">
              <p
                class="text-lg md:text-xl lg:text-2xl text-gray-300 font-mono tracking-wide"
              >
                Soy Tech Lead en WOM, consultor en Gen Al, creador de contenldo
                y musico profesional. Croe en la te-chologia cono motor creativo
                y en el arte come fuerza
              </p>
            </div>
          </div>
          <NeonBox
            class=""
            noBorderTop={true}
            noBorderRight={true}
            noBorderBottom={true}
          >
            <div>
              <h2
                class="text-3xl font-bold mb-4 font-mono absolute top-6 left-15 z-10"
              >
                ABOUT
              </h2>
              <Gradients ltrbtu={false} />
              <figure>
                <img
                  src="/images/andres-macbook.jpg"
                  alt="Andrés Ignacio Maldonado"
                  class="rounded-lg"
                />
              </figure>
            </div>
          </NeonBox>
        </div>
      </NeonBox>

      <!-- Music section -->
      <NeonBox class="">
        <div class="p-12">
          <h2 class="text-3xl font-bold font-mono pb-6">CREATIVIDAD</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
            <div class="">
              <div>
                <NeonBox
                  class="rounded-br-lg rounded-tr-lg"
                  noBorderTop={true}
                  noBorderLeft={true}
                >
                  <figure class="font-0">
                    <img
                      src="/images/andres-guitarra.jpeg"
                      alt="Andrés Ignacio Maldonado"
                      class="font-0 rounded-tr-lg rounded-tl-lg"
                    />
                  </figure>
                  <div class="px-4 py-6">
                    <NeonButton
                      label="@devandmus - RRSS"
                      href="/music"
                      color="cyan"
                      class="mb-4"
                    />
                    <NeonButton
                      label="Guitar Licks - TikTok"
                      href="/music"
                      color="pink"
                      class="mb-4"
                    />
                    <NeonButton
                      label="One Lick a Day - YouTube"
                      href="/music"
                      color="purple"
                    />
                  </div>
                </NeonBox>
              </div>
            </div>

            <div>
              <div class="pb-6">
                <NeonBox
                  transitionName="blog-page"
                  class="rounded-xl w-full"
                  contentClass="p-6"
                >
                  <a
                    href="/blog"
                    class="relative blog-button text-neon-cyan font-bold"
                  >
                    <div
                      class="text-neon-cyan font-bold text-2xl flex items-center justify-center h-full w-full h-full"
                    >
                      Blog
                    </div>
                  </a>
                </NeonBox>
              </div>

              {
                latestPost && (
                  <ArticleCard
                    title={latestPost.data.title}
                    id={latestPost.slug}
                    tags={latestPost.data.tags || []}
                    color={getColorByCategory(latestPost.data.category || "")}
                    description={
                      latestPost.data.readingTime ||
                      `${Math.ceil(Math.random() * 15 + 5)} min`
                    }
                    slug={getPostUrl(latestPost.slug)}
                    category={latestPost.data.category || ""}
                  />
                )
              }
            </div>
          </div>
        </div>
      </NeonBox>
    </NeonBox>
  </Wrapper>
</BaseLayout>
